# Ignore VENV
Path Visualizer Prototype/.venv/
Path Prob Visual/.venv/

# Ignore everything INSIDE the data folders
Path Visualizer Prototype/data/*
Path Prob Visual/data/*

# But not the folders themselves
!Path Visualizer Prototype/data/ 
!Path Prob Visual/data/