# Ignore virtual environment
.venv/
venv/

# Ignore data folder (contains raw data files)
data/

# Ignore debug folder
debug/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore png images
*.png
